@import 'tailwindcss';
@import "bootstrap/dist/css/bootstrap.min.css";

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

/*  # Tailwind CSS Theme Configuration
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
*/
@source '../**/*.blade.php';
@source '../**/*.js';


/* custom CSS */
:root {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
